.bars1{
    margin: 10px;
    background-color: rgb(211, 211, 211); /* Green */
    border: none;
    padding: 10px 15px;
    border-radius: 15%;
    
}

.menu{
    display: flex;
}

.nav-bar{
    width: 700px;
    height: 30px;

    margin: 20px;
    margin-left: 500px;
    margin-right: 80px;

    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    
}

.nav-bar1{
    border: none;
}

.library{
    margin-top: 30px;
}